body{
    background-color: #262421;
    font-family: 'Lato', sans-serif;

    text-align: center;
}
h1{
    color: white;
    
}

#music{
    margin-bottom: 10px;
}

.circle{
    background-color: lightgray;
    border-radius: 20px;
    height:20px;
    width: 20px;
}

#scoreBar {
    
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
  
#bar {
    width: 50%;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

button{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
}

#main-container{
    height: 120vh;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #262421;
    border-radius: 5px;
}


.square{
    width: 10vh;
    height: 10vh;
    
}

.square:hover{
    animation-name: pulse;
    animation-duration: 2s;
}



.black{
    background-color: #769655;
    color: black;
    font-size: 9vh;
    text-align: center;
}

.white{
    background-color: #fffdd0;

    font-size: 9vh;
    text-align: center;
    
    
}

#board-container{
    text-align: center;
    
    height: auto;
    /* Not working yet */
    /*margin-left:350px;*/
    /*margin-right: 350px;*/
}

#board-container > p{
    color: white;
    font-size: larger;
}

.row{
    display: flex;
    flex-direction: row;

}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}


 @media only screen and (max-width: 600px) {
    
    .square{
        width: 10vw;
        height: 10vw;
        
    }
    .black{
        background-color: #769655;
        color: black;
        font-size: 5vh;
        text-align: center;
        
    }
    
    .white{
        background-color: #fffdd0;
    
        font-size: 5vh;
        text-align: center;
        
        
    }
    #board-container{
        text-align: center;

        height: auto;
        /* Not working yet */
        /*margin-left:350px;*/
        /*margin-right: 350px;*/
    }
    #main-container{
        height: 100vh;
    }
    
  }